/*
  COLORS:

  Background: #ffb732;
  Background Color: #63818e;
  Text: #e8e8e8;

*/


/*for the whole page */
body {
    margin: 0;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    background-color: rgba(#62808e, 0.8);
}

/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

.container_header {
    width: 80%;
    margin: auto;
}

header {
    background-color: #ffb732;
    color: black;
    min-height: 80px;
    padding-top: 30px;
    border-bottom: #63818e 2px solid;
    font-family: 'Montserrat', sans-serif;
    box-sizing: content-box;
    line-height: 1.4;
}

header a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

header ul {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

header li {
    display: inline;
    padding: 3px 20px 0 20px;
}

header .logo {
    float: left;
    margin-left: 12px;
    width: 115px;
    margin-top:-55px;
}

header .logo img {
    margin: 0;
    margin-top:-50px;
}

header nav {
    float: right;
    margin-top: 17px;
    margin-right: -55px;
}

header a:hover {
    font-weight: bold;
}

nav ul li a:hover, nav ul li a:active{
  border-bottom: 2px solid black;
  padding-bottom: 8px;
}

@media(max-width: 780px) {
    header #logo {
        float: none;
        text-align: center;
        width: 120px;
        margin: auto;
    }
    .container_header {
        width: 100%;
    }
    header nav {
        width: 100%;
        text-align: center;
        margin-top: 2px;
        margin-right: 0;
    }
    header #logo img {

        display: block;
        width: 100%;
    }
    header a {
        float: none;
        font-size: 14px;
    }
    header li {
        display: inline;
        padding: 5px;
    }
}

.active_link {
  font-weight:bolder;
}

// Default Values:
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

// Animation Functions:
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0)
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0)
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0)
  }
}

// Header Section:
.sub-header {
  height: 70vh;
  background-image: linear-gradient( to right bottom, rgba(#ffb732, 0.8), rgba(#62808e, 0.8)), url(./media/IMG_1838.JPG);
  background-size: cover;
  background-position: top;
  text-align: center;
  position: relative;
  padding-top: 18vh;
  color: #e8e8e8;
  @media(
    min-width: 568px;
  ){
    height: 100vh;
  }
}

.sub-header-title {
  text-transform: uppercase;
  backface-visibility: hidden;
  position: relative;
  letter-spacing: 10px;
  font-size: 60px;
  animation: moveInLeft 1s ease-out;
}

.sub-header-statement {
  text-transform: uppercase;
  backface-visibility: hidden;
  position: relative;
  letter-spacing: 3px;
  font-size: 24px;
  padding-bottom: 30px;
  animation: moveInRight 1s ease-out;
}


// Big white buttons:
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom .5s ease-out .75;
  animation-fill-mode: backwards;
}

// About Section:
.section-about {
  padding: 20px;
  color: #e8e8e8;
}


// Contributors Section:
.contributors {
  padding: 20px;
  color: #e8e8e8;
}

.bio-img {
  height: 150px;
  border-radius:20px;
}

.bio-container {
  background-color: rgba(0, 73, 116, 0.72);
  padding:10px;
  border-radius:10px;
  margin:20px;
  list-style-type: none;
}

.contributors-bio {
  display: inline;
  padding: 10px;
}

.contributor-wrapper {
  display: flex;
}

.bio-wrapper {
  display: flex;
  flex-direction: column;
}

// nav bar

.side-nav{
        height:100%;
        width:0;
        position:fixed;
        z-index:1;
        top: 0;
        left:0;
        background-color:#8199A3;
        opacity:0.9;
        overflow-x:hidden;
        padding-top:60px;
        transition:0.5s;
    }

    .side-nav a{
        padding:10px 10px 10px 30px;
        text-decoration: none;
        font-size:22px;
        color:#fff;
        display:block;
        transition:0.3s;
    }

    .side-nav a:hover{
        color:#111;
    }

    .side-nav .btn-close {
        position:absolute;
        top:0;
        right:22px;
        font-size:36px;
        margin-left:50px;
      }

      @media(min-width:568px){
          .open-slide{
              display:none;
          }
          header .logo {
            margin-top:0;
          }
      }

      @media(max-width:568px){
        .navbar-nav{
            display:none;
        }
    }
    .hamburgers {
      margin-left: 20px;
      font-size: 40px;
    }
