/*
  COLORS:

  Background: #ffb732;
  Background Color: #63818e;

*/


/*for the whole page */
body {
    margin: 0;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    background-color: rgba(#62808e, 0.8);
}

.container_header {
    width: 80%;
    margin: auto;
}

header {
    background-color: #ffb732;
    color: black;
    min-height: 80px;
    padding-top: 30px;
    border-bottom: #327aff 3px solid;
    font-family: 'Montserrat', sans-serif;
}

header a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

header li {
    display: inline;
    padding: 3px 20px 0 20px;
}

header .logo {
    float: left;
    margin-left: 12px;
    width: 100px;
}

header .logo img {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 17px;
    margin-right: -55px;
}

header a:hover {
    font-weight: bold;
}

nav ul li a:hover, nav ul li a:active{
  border-bottom: 2px solid black;
  padding-bottom: 8px;
}

@media(max-width: 780px) {
    header #logo {
        float: none;
        text-align: center;
        width: 100px;
        margin: auto;
    }
    .container_header {
        width: 100%;
    }
    header nav {
        width: 100%;
        text-align: center;
        margin-top: 5px;
        margin-right: 0;
    }
    header #logo img {
        margin: auto;
        display: block;
        width: 100%;
    }
    header a {
        float: none;
        font-size: 14px;
    }
    header li {
        display: inline;
        padding: 5px;
    }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bio-img {
    height: 150px;
}

/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}


/* for campus page */


.website-purpose {
  height: 70vh;
  background-image: linear-gradient( to right bottom, rgba(#ffb732, 0.8), rgba(#62808e, 0.8)), url(./media/IMG_1838.JPG);
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 20px;
  padding-top: 30vh;
  color: #e8e8e8;
}

.website-purpose-title {
  text-transform: uppercase;
  backface-visibility: hidden;

  animation: moveInLeft 0.8s ease-out;
}

.contributors {
  padding: 20px;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0)
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0)
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0)
  }
}

.iconFont {
  font-size:22px;
}

#boxes h2 {
  margin-bottom:5px;
}


#boxes p,h3{
  margin-top: 5px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;

  @media(max-width:640px){
      float: none;
      text-align: center;
      width:100%;
}}

#boxes .container_boxes {
  padding:20px;
}

footer {
    background-color: #ffb732;
}
.address {
  float:right;
  margin-top:20px;
  background-color: red;
}

.address p {
  margin-top:5px;
  margin-bottom:5px;
}
