.Core{
  background-color: #63818e;
  color: #f5f5f5;

  &-title{
    text-align: center;
  }
}

.Resource {

  &-header{
    display: flex;
    flex-direction: row;
  }

  &-icon{
    font-size: 650%;
    padding-right: 1.25%;
  }

  &-topic{

  }

  &-description{

  }

  &-likes{
    text-align: right;
  }

  &-container {
    width: 80%;
    margin: auto;
  }

  &-title {
    text-align: left;
    font-size: 1.3rem;

  &-Resource-titleTopicContainer{
    display: flex;
    flex: column;
  }

    & a {
      text-decoration: none;
      color: inherit;
    }

    & a:hover {
      border-bottom: 2px solid white;
    }
  }
  &-info {
    display: flex;
    justify-content: space-between;
  }
}
