.Core{
  background-color: #63818e;
  color: #f5f5f5;

  &-title{
    text-align: center;
  }
}

.Resource {
  margin-bottom: 2rem;

  &-header{
    display: flex;

    &--content {
      text-align: right;

      @media(min-width: 568px){
        text-align: left;
      }
    }
  }


  &-icon{
    font-size: 650%;
    padding-right: 3%;
    margin-bottom: -1.5rem;
    @media(min-width: 568px){
      padding-right: 5%;
    }
  }

  &-likes{
    text-align: right;
  }

  &-container {
    width: 80%;
    margin: auto;
  }

  &-title {
    text-align: left;
    font-size: 1rem;
    text-align: center;

    @media( min-width: 568px){
      font-size: 1.3rem;
    }

    & a {
      text-decoration: none;
      color: inherit;
    }

    & a:hover {
      border-bottom: 2px solid white;
    }
  }
}

/* typicons */
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}

.tIcons {
  font-size: 20px;
}
