.amenitiesImg {
  height: 250px; }

#large_pic {
  background-image: url("inside.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  background-position: center;
  margin-bottom: 20px; }
  @media (max-width: 420px) {
    #large_pic {
      height: 40vh; } }

.title_blurb {
  margin-top: 0;
  text-align: center;
  color: white;
  padding: 200px 0 0 0;
  font-size: 40px;
  margin-bottom: 12px;
  font-weight: bold; }

.actual_blurb {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 0; }

.location {
  text-align: center;
  font-size: 15px;
  margin-top: 10px; }

.iconFont {
  font-size: 22px; }

#boxes h2 {
  margin-bottom: 5px; }

#boxes p, h3 {
  margin-top: 5px; }

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px; }
  @media (max-width: 640px) {
    #boxes .box {
      float: none;
      text-align: center;
      width: 100%; } }

#boxes .container_boxes {
  padding: 20px; }

footer {
  background-color: #ffb732; }

.address {
  float: right;
  margin-top: 20px;
  background-color: red; }

.address p {
  margin-top: 5px;
  margin-bottom: 5px; }

/*
  COLORS:

  Background: #ffb732;
  Background Color: #63818e;

*/
/*for the whole page */
body {
  margin: 0;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
  background-color: rgba(98, 128, 142, 0.8); }

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif; }

.container_header {
  width: 80%;
  margin: auto; }

header {
  background-color: #ffb732;
  color: black;
  min-height: 80px;
  padding-top: 30px;
  border-bottom: #327aff 3px solid;
  font-family: 'Montserrat', sans-serif; }

header a {
  color: black;
  text-decoration: none;
  font-size: 16px; }

header ul {
  margin: 0;
  padding: 0;
  margin-left: 10px; }

header li {
  display: inline;
  padding: 3px 20px 0 20px; }

header .logo {
  float: left;
  margin-left: 12px;
  width: 100px; }

header .logo img {
  margin: 0; }

header nav {
  float: right;
  margin-top: 17px;
  margin-right: -55px; }

header a:hover {
  font-weight: bold; }

nav ul li a:hover, nav ul li a:active {
  border-bottom: 2px solid black;
  padding-bottom: 8px; }

@media (max-width: 780px) {
  header #logo {
    float: none;
    text-align: center;
    width: 100px;
    margin: auto; }
  .container_header {
    width: 100%; }
  header nav {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-right: 0; }
  header #logo img {
    margin: auto;
    display: block;
    width: 100%; }
  header a {
    float: none;
    font-size: 14px; }
  header li {
    display: inline;
    padding: 5px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.sub-header {
  height: 70vh;
  background-image: linear-gradient(to right bottom, rgba(255, 183, 50, 0.8), rgba(98, 128, 142, 0.8)), url(./media/IMG_1838.JPG);
  background-size: cover;
  background-position: top;
  position: relative;
  padding-top: 30vh;
  color: #e8e8e8; }

.sub-header-title {
  text-transform: uppercase;
  backface-visibility: hidden;
  position: relative;
  text-align: center;
  letter-spacing: 10px;
  font-size: 60px;
  animation: moveInLeft 1s ease-out; }

.sub-header-statement {
  text-transform: uppercase;
  backface-visibility: hidden;
  position: relative;
  text-align: center;
  letter-spacing: 3px;
  font-size: 24px;
  padding-bottom: 30px;
  animation: moveInRight 1s ease-out; }

.contributors {
  padding: 20px; }

.bio-img {
  height: 150px; }

.Core {
  background-color: #63818e;
  color: #f5f5f5; }
  .Core-title {
    text-align: center; }

.Resource-container {
  width: 80%;
  margin: auto; }

.Resource-title {
  text-align: right;
  font-size: 1.3rem; }
  .Resource-title a {
    text-decoration: none;
    color: inherit; }
  .Resource-title a:hover {
    border-bottom: 2px solid white; }

.Resource-info {
  display: flex;
  justify-content: space-between; }

/* typicons */
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif; }

.tIcons {
  font-size: 20px; }

.Form {
  transform: scaleY(0);
  transform-origin: top center;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column; }
  .Form.show {
    transform: scaleY(1); }
  .Form-container {
    margin: auto;
    width: 25%;
    height: 0; }
  .Form-button {
    width: 100%;
    font-size: 0.9rem;
    padding: 0.2rem;
    background-color: #ffb732;
    border-radius: 0.5rem;
    margin-bottom: 0.3rem; }
    .Form-button:focus {
      outline: none; }
  .Form input {
    padding: 0.2rem;
    font-size: 0.9rem; }
  .Form button {
    padding: 0.3rem;
    background-color: #ffb732;
    font-size: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; }
  .Form textarea {
    font-size: 0.9rem;
    height: 7rem;
    padding: 0.3rem; }

.Auth {
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  display: none;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 20vh; }
  .Auth-content {
    position: relative;
    background-color: #62808e;
    width: 50%;
    margin: auto;
    padding: 1rem;
    bordor: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatemodal;
    animation-duration: 0.5s; }
  .Auth-close {
    float: right;
    transform: scaleX(1.3) translate(0.3rem, -0.8rem);
    color: #d9534f; }
  .Auth-message {
    text-align: center;
    padding: 0.5rem;
    margin: 0 auto;
    display: none;
    border-radius: 1rem;
    width: 80%; }
    .Auth-message--success {
      background-color: #5cb85c;
      color: #f5f5f5;
      display: block; }
    .Auth-message--error {
      background-color: #d9534f;
      color: #f5f5f5;
      display: block; }
  .Auth-btn, .Auth input {
    font-size: 0.8rem;
    padding: 0.2rem 1rem; }
  .Auth-btn {
    background-color: #ffb732;
    border-radius: 1rem; }
  .Auth-header {
    color: #f5f5f5; }

@keyframes animatemodal {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

.Filter {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem; }
  .Filter-button {
    flex: auto;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 1rem;
    background-color: #62808e;
    border-radius: 1rem;
    border: 1px solid #ffb732;
    color: #f5f5f5;
    box-shadow: 2px 2px 8px 0px rgba(255, 183, 50, 0.4);
    transition: transform 0.3s ease-out; }
    .Filter-button:focus {
      outline: none;
      box-shadow: none; }
  .Filter-current {
    transform: scaleX(1.2); }
