.amenitiesImg {
  height: 250px; }

.bioImg {
  height: 150px; }
  body {
      margin: 0;
      padding: 0;
      font-family: "helvetica";
  }
  .container_header {
      width: 80%;
      margin: auto;
  }
  header {
      background-color: #ffb732;
      color: black;
      min-height: 80px;
      padding-top: 30px;
      border-bottom: ##327aff 3px solid;
      font-family: 'Montserrat', sans-serif;
  }
  header a {
      color: black;
      text-decoration: none;
      font-size: 16px;
  }
  header ul {
      margin: 0;
      padding: 0;
      margin-left: 10px;
  }
  header li {
      display: inline;
      padding: 3px 20px 0 20px;
  }
  header .logo {
      float: left;
      margin-left: 12px;
      width: 100px;
  }
  header .logo img {
      margin: 0;
  }
  header nav {
      float: right;
      margin-top: 17px;
      margin-right: -55px;
  }
  header a:hover {
      font-weight: bold;
  }
  nav ul li a:hover, nav ul li a:active{
    border-bottom: 2px solid black;
    padding-bottom: 8px;
  }
  @media(max-width: 780px) {
      header #logo {
          float: none;
          text-align: center;
          width: 100px;
          margin: auto;
      }
      .container_header {
          width: 100%;
      }
      header nav {
          width: 100%;
          text-align: center;
          margin-bottom: 5px;
          margin-top: 5px;
          margin-right: 0;
      }
      header #logo img {
          margin: auto;
          display: block;
          width: 100%;
      }
      header a {
          float: none;
          font-size: 14px;
      }
      header li {
          display: inline;
          padding: 5px;
      }
  }
  /* fontawesome */

  [class*="fontawesome-"]:before {
      font-family: 'FontAwesome', sans-serif;
  }
